
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?&family=Saira+Stencil+One&family=Anton&&family=Special+Elite&family=Permanent+Marker&display=swap" rel="stylesheet">

<header class="header">
    <h1 class="logo ml-3">Audit Management Portal    </h1>
  <ul class="main-nav mr-3">
      <li><a href="/home">Home</a></li>
      <li><a href="/AuditRequest">Request</a></li>
  <button class="btn btn-outline-danger btn-block btn-lg" (click)="logOutAll()" type="submit">Logout</button>
      
  </ul>
</header> 

