<link href="https://fonts.googleapis.com/css2?family=Anton&family=Cinzel&family=Dangrek&family=IM+Fell+DW+Pica&family=Permanent+Marker&family=Special+Elite&display=swap" rel="stylesheet">
<app-amsheader></app-amsheader>
<div class="container mt-4" id="checklistcontainer" *ngIf="auditDetailsFlag">
  <div class="row">
    <div class="col-4 first">

      <form #checklistform="ngForm" >
        <fieldset class="form-group mt-3 ">
          <div class="row">
            <div class="col-4">
              <legend class="col-form-label col-sm-2 pt-0">Audit_type:</legend>

            </div>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Internal"
              [(ngModel)]="auditType" required>
            <label class="form-check-label" for="exampleRadios1">
              <h6>Internal</h6>
            </label>
              </div>
              <div class="form-check">
                <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios2" value="SOX"
                [(ngModel)]="auditType" required>
              <label class="form-check-label" for="exampleRadios2">
                <h6>SOX</h6>
              </label>
              </div>
           
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-4">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Audit_date:</label>
          </div>
          <div class="col-sm-8 date">
            <input type="date" name="auditDate" id="auditDate" class="form-control " [(ngModel)]="auditDate"
            required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10" style="display: flex;justify-content: center;"> 
            <button type="button" class="btn btn-primary" (click)="getQuestions()"
            [disabled]="auditTypeStatus||(checklistform.invalid && checklistform.untouched)">Submit</button>
          </div>
        </div>
      </form>
    </div>

<!-- 

      <form #checklistform="ngForm">
        <div class="form-group form-inline">
          <label for="AuditType">
            <h5>AuditType</h5>
          </label>
         
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Internal"
              [(ngModel)]="auditType" required>
            <label class="form-check-label col" for="exampleRadios1">
              <h6>Internal</h6>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios2" value="SOX"
              [(ngModel)]="auditType" required>
            <label class="form-check-label" for="exampleRadios2">
              <h6>SOX</h6>
            </label>
          </div>
          <br>
        </div>
        <div class="form-group">
          <label for="auditDate">
            <h5>Audit Date</h5>
          </label>
          <input type="date" name="auditDate" id="auditDate" class="form-control col-7" [(ngModel)]="auditDate"
            required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="getQuestions()"
            [disabled]="auditTypeStatus||(checklistform.invalid && checklistform.untouched)">Submit</button>
        </div>
      </form>
    </div> -->

    <div class="col-8 second mb-3">

      <form #checklistresponse="ngForm" *ngIf="questions.length!=0">

        <div class="con">
        
          <ul class="responsive-table">
            <li class="table-header ">
              <div class="col-10 col-1">Questions</div>
              <div class="col-1 col-2">Yes</div>
              <div class="col-1 col-3">No</div>
            </li>
            <li class="table-row li" *ngFor="let question of questions;let i=index;">
              <div class="col-10 col-1 " >{{question}}</div>
              <div class="col-1 col-2" >  <label>
                <input type="radio" name="question{{i}}" value="Yes" (change)="onSelectRadio(i,$event)" required>
              </label></div>
              <div class="col-1 col-3"> <input type="radio" name="question{{i}}" value="No" checked (change)="onSelectRadio(i,$event)"
                required></div>
              
            </li>
          
          </ul>
          <div style="display: flex;justify-content: center;"> 
            <button type="submit" class="btn btn-success text-center" (click)="sendResponse()">Proceed</button>

          </div>
        </div>





<!-- 

        <table *ngIf="questions.length!=0" class="table table-responsive table-striped">
          <thead class="thead-dark">
            <tr>
             
              <th>Questions</th>
              
              <th>Yes</th>
              <th>No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questions;let i=index;">
              
              <td>{{question}}</td>
           
  
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="question{{i}}" value="Yes" (change)="onSelectRadio(i,$event)" required>
                  </label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label>
                    <input type="radio" name="question{{i}}" value="No" checked (change)="onSelectRadio(i,$event)"
                      required>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>

          <div class="container">
            <button type="submit" class="btn btn-success" (click)="sendResponse()">Proceed</button>
          </div>
        </table>
      </form>

    </div>
    <div class="col-1">

    </div>
  </div>
</div> -->
