<!Doctype html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Dangrek&family=Permanent+Marker&display=swap" rel="stylesheet">

<html>
<body>
<app-amsheader></app-amsheader>
<div class="container mt-5">
    <div class="row">
        <div class="col steps">
            <div class="card">
                <div class="card-header first">
                    <h4>Follow the simple steps below to know your project status</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Select the audit type</li>
                        <li>Select the present date</li>
                        <li>Select your responses</li>
                        <li>Proceed next</li>
                        <li>Mention Project name and Project Manager Name</li>
                        <li>Submit the form</li>
                    </ul>

                </div>
                <div class="card-footer">
                        <a href="/AuditRequest" class="card-link">Generate Request Audit Status</a>
                </div>
               
            </div>
        </div>
    </div>
</div>
</body>
</html>