<app-amsheader></app-amsheader>
<div class="container mt-5">
    <div class="row">
        <!-- <div class="col-6">
            <div class="card">
                <div class="card-body">
                    An audit management system is software that significantly cuts the time and effort it takes for an organization to pass an external audit or conduct an internal audit. It does that by automating audit lifecycle activities to simplify the process. 

                    Audit software can also integrate with a document control system, enabling users to find and access any necessary audit program documentation. 
                    
                    Audit management software ensures companies implement board-approved audit directives. It also helps streamline and organize the workflow and collaboration process of compiling audits. 
                </div>
               
            </div>
        </div> -->
        <div class="col steps">
            <div class="card">
                <div class="card-header">
                    <h4>Follow the simple steps below to know your project status</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Select the audit type</li>
                        <li>Select the present date</li>
                        <li>Select your responses</li>
                        <li>Proceed next</li>
                        <li>Mention Project name and Project Manager Name</li>
                        <li>Submit the form</li>
                    </ul>

                </div>
                <div class="card-footer">
                        <a href="/AuditRequest" class="card-link">Click Here to Request Audit Status</a>
                </div>
               
            </div>
        </div>
   
    </div>
</div>