.container{
    display: flex;
    justify-content: center;
}
h3
{
    padding-left: 25%;
}
.second  {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    max-width: 500px;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;

}
