
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Cinzel&family=Dangrek&family=Fredoka+One&family=IM+Fell+DW+Pica&family=Paytone+One&family=Permanent+Marker&family=Saira+Stencil+One&family=Special+Elite&display=swap" rel="stylesheet">
<app-amsheader></app-amsheader>
<div class="container mt-5">
    <div class="row">
        
        <div class="col second">
            <h3>Audit Result</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Audit Id</th>
                        <th>Project Execution Status</th>
                        <th>Remedial Action Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="response.projectExecutionStatus=='RED'" class="table-d">
                        <td>{{response.auditId}}</td>
                        <td>{{response.projectExecutionStatus}}</td>
                        <td>{{response.remedialActionDuration}}</td>
                    </tr>
                    
                    <tr *ngIf="response.projectExecutionStatus=='GREEN'" class="table-s">
                        <td>{{response.auditId}}</td>
                        <td>{{response.projectExecutionStatus}}</td>
                        <td>{{response.remedialActionDuration}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</div>